{% extends 'base.html.twig' %}

{% block title %}Page Register{% endblock %}

{% block body %}
    <h2>Bravo {{ firstname }} {{ lastname }} !</h2>
    <p>Votre compte a bien été créé !</p>
{% endblock %}
